<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Выбор отдела</title>
</head>
<body>

<div class="main-panel choose_dep" layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
<!--                    <div class="card">-->
<!--                        <div class="card-header card-header-primary">-->
<!--                            <h4 class="card-title">Уважаемый пользователь!</h4>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <p>Доступ к данной системе имеют только врачи и пациенты НИИ кардиологии. Для получения-->
<!--                                логина и пароля свяжитесь, пожалуйста, с администратором системы по контактному-->
<!--                                телефону:39-48-24</p>-->
<!--                        </div>-->

<!--                    </div>-->
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Выберите направление Вашей реабилитации</h4>
                        </div>


                        <form th:action="@{/auth/choose_department}" method="POST">

                            <th:block>
                                <!--                                <form th:action="@{login}" th:object="${loginForm}" method="POST">-->
                                <!--                                {{ Form::open(['route' => 'login']) }}-->
                                <div class="about-service radio-group">

                                    <div class="row service">
                                        <div class="service-block">
                                            <a class="radio" data-value="1">
                                              <div class="service-img infarkt"></div>
                                                <h3>Медицинская кардиореабилитация</h3>
                                            </a>
                                        </div>



                                        <div class="service-block">
                                            <a class="radio" data-value="2">
                                                <div class="service-img insult"></div>
                                                <h3>Медицинская реабилитация после инсульта</h3>
                                            </a>
                                        </div>



                                        <div class="service-block">
                                            <a class="radio" data-value="3">
                                                <div class="service-img protez"></div>
                                                <h3>Медицинская реабилитация после эндопротезирования</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <input type="hidden" id="radio-value" name="val" th:value="">
    <!--                                <input type="text" id="radio-value" name="radio-value" />-->
                                </div>
                                <a th:href="@{/admin/admins}">
                                    <button type="submit" class="btn btn-primary pull-right dep_but">Выбрать</button>
                                </a>
                                <div class="clearfix"></div>
                                <!--                                {{ Form::close() }}-->

                                </th:block>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div layout:fragment="scripts">
    <script th:src="@{/scripts/custom/custom-choose-dep.js}"></script>
</div>


</body>
</html>