<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/patient}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div layout:fragment="contentPatient" class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Уважаемый пациент!</h4>
            </div>
            <div class="card-body">
                Это программа поможет Вам и Вашему врачу разобраться, насколько выполняемая Вами физическая нагрузка
                соответствует состоянию Вашей сердечно-сосудистой системы, исходя из Вашего индивидуального восприятия
                затраченных на нее усилий.
                <p>В оценке переносимости нагрузки ориентируйтесь только на собственные ощущения, возникающие во время
                    ее выполнения и сразу после нее(5-10 мин).Учитывайте: общее самочувствие,затруднение дыхания,
                    ощущение сердцебиения, уровеь потоотделения, боль и тяжесть в мышцах, чувство тяжести или боли в
                    груди. Программой предусмотрены варианты описаний: выберите наиболее подходящий для себя. Ваши
                    ощущения будут оценены в соответствии с мировым медицинским стандартом индивидуального восприятия
                    нагрузки(шкалой Борга). Кроме того, будут даны рекомендации, ориентирующие Вас на дальшнейшие
                    действия.</p>
                <p>Такая оценка необходима Вам для того, чтобы <strong>свести к минимуму осложнения Вашего заболевания,
                    связанные с выполнением любой физической нагрузки</strong></p>
                <p>Такая оценка необходима Вашему врачу для определения адекватной физической активности, как важного
                    компонента лечения и процесса восстановления Вашего здоровья.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Личная информация</h4>
                <p class="card-category">Вы можете изменить свою личную информацию</p>
            </div>
            <div class="card-body">
                <form th:action="@{/patient/general_information/__${id}__}" th:object="${patientModel}" method="POST">
                    <input type="hidden" name="_method" value="put" />
                    <input type="hidden" th:field="*{id}" name="id" th:value="${id}">
<!--                {!! Form::model($general_information, ['route' => 'patient.update']) !!}-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Фамилия</label>
                                <input th:field="*{lastName}" type="text" class="form-control"
                                       aria-label="last_name">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('lastName')}"
                                     th:errors="*{lastName}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Имя</label>
                                <input th:field="*{firstName}" type="text" class="form-control"
                                       aria-label="first_name">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('firstName')}"
                                     th:errors="*{firstName}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Отчество</label>
                                <input th:field="*{middleName}" type="text" class="form-control"
                                       aria-label="middle_name">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('middleName')}"
                                     th:errors="*{middleName}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Образование</label>
                                <select required class="form-control" aria-label="load_type" th:field="*{educationId}">
                                    <option value="" selected="selected" style=" display: none;">Выберите образование</option>
                                    <option th:each="c : ${educationModelList}"
                                            th:value="${c.id}"
                                            th:utext="${c.name}"></option>
                                </select>
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('educationId')}"
                                     th:errors="*{educationId}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Пол</label>
                                <select required class="form-control" aria-label="load_type" th:field="*{isMale}">
                                    <option value="" selected="selected" style=" display: none;">Выберите пол</option>
                                    <option th:value="true">Мужчина</option>
                                    <option th:value="false">Женщина</option>
                                </select>
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('isMale')}"
                                     th:errors="*{isMale}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Занятость</label>
                                <select required class="form-control" aria-label="load_type" th:field="*{educationId}">
                                    <option value="" selected="selected" style=" display: none;">Выберите занятость</option>
                                    <option th:value="true">Работаю</option>
                                    <option th:value="false">Не работаю</option>
                                </select>
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('isWork')}"
                                     th:errors="*{isWork}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Дата рождения</label>
                                <input th:field="*{dateOfBirth}" type="text" class="form-control"
                                       aria-label="date_of_birth">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('dateOfBirth')}"
                                     th:errors="*{dateOfBirth}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
<!--                        <div class="col-md-3">-->
<!--                            <div class="form-group">-->

<!--                                {{ Form::label('address', 'Город', ['class' => 'bmd-label-floating']) }}-->
<!--                                {{ Form::text('address', null, ['class' => 'form-control']) }}-->
<!--                                <div class="invalid-feedback d-block">{{ $errors->first('address') }}</div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Телефон</label>
                                <input th:field="*{phone}" type="text" class="form-control"
                                       aria-label="phone">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('phone')}"
                                     th:errors="*{phone}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input th:field="*{email}" type="text" class="form-control"
                                       aria-label="email">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Обновить</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadPhotoModal">
                        Обновить фотографию
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Медицинская информация</h4>
                <p class="card-category">Медицинскую информацию может обновлять Ваш лечащий врач</p>
            </div>
            <form th:action="@{/patient/medical_information/__${id}__}" th:object="${cardioMedicalInfoModel}" method="POST">
                <input type="hidden" name="_method" value="put" />
                <input type="hidden" th:field="*{id}" name="id" th:value="${id}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Основной диагноз</label>
                                <input th:field="*{basicDiagnosis}" disabled="" type="text" class="form-control"
                                       aria-label="basic_diagnosis">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('basicDiagnosis')}"
                                     th:errors="*{basicDiagnosis}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Сопутствующий диагноз</label>
                                <input th:field="*{concomitantDiagnosis}" disabled="" type="text" class="form-control"
                                       aria-label="concomitant_diagnosis">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('concomitantDiagnosis')}"
                                     th:errors="*{concomitantDiagnosis}">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Операции</label>
                                <input th:field="*{operations}" disabled="" type="text" class="form-control"
                                       aria-label="operations">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('operations')}"
                                     th:errors="*{operations}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Осложнения</label>
                                <input th:field="*{oslozhneniye}" disabled="" type="text" class="form-control"
                                       aria-label="oslozhneniye">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('oslozhneniye')}"
                                     th:errors="*{oslozhneniye}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">КДО ЛЖ, мл</label>
                                <input th:field="*{kdoLzh}" disabled="" type="text" class="form-control"
                                       aria-label="KDO_LZH">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('kdoLzh')}"
                                     th:errors="*{kdoLzh}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">КСО ЛЖ, мл</label>
                                <input th:field="*{ksoLzh}" disabled="" type="text" class="form-control"
                                       aria-label="KSO_LZH">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('ksoLzh')}"
                                     th:errors="*{ksoLzh}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">ИММ, г/м2</label>
                                <input th:field="*{imm}" disabled="" type="text" class="form-control"
                                       aria-label="IMM">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('imm')}"
                                     th:errors="*{imm}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">ФВ, %</label>
                                <input th:field="*{fv}" disabled="" type="text" class="form-control"
                                       aria-label="FV">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('fv')}"
                                     th:errors="*{fv}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">КСО ЛП</label>
                                <input th:field="*{ksoLp}" disabled="" type="text" class="form-control"
                                       aria-label="KSO_LP">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('ksoLp')}"
                                     th:errors="*{ksoLp}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">КСО ПП</label>
                                <input th:field="*{ksoPp}" disabled="" type="text" class="form-control"
                                       aria-label="KSO_PP">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('ksoPp')}"
                                     th:errors="*{ksoPp}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">СДЛА</label>
                                <input th:field="*{sdla}" disabled="" type="text" class="form-control"
                                       aria-label="SDLA">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('sdla')}"
                                     th:errors="*{sdla}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Диаст дисф.</label>
                                <input th:field="*{diastDisf}" disabled="" type="text" class="form-control"
                                       aria-label="diast_disf">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('diastDisf')}"
                                     th:errors="*{diastDisf}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Локальн сокр.</label>
                                <input th:field="*{lokalnSokr}" disabled="" type="text" class="form-control"
                                       aria-label="lokaln_sokr">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('lokalnSokr')}"
                                     th:errors="*{lokalnSokr}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">ХМ экг, дата</label>
                                <input th:field="*{khmEkg}" disabled="" type="text" class="form-control"
                                       aria-label="KHM_ekg">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('khmEkg')}"
                                     th:errors="*{khmEkg}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Осн. ритм</label>
                                <input th:field="*{osnRitm}" disabled="" type="text" class="form-control"
                                       aria-label="osn_ritm">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('osnRitm')}"
                                     th:errors="*{osnRitm}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">НЖА/НЖТЖА/ЖТ</label>
                                <input th:field="*{nzhaNzhtzhaZht}" disabled="" type="text" class="form-control"
                                       aria-label="NZHA_NZHTZHA_ZHT">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('nzhaNzhtzhaZht')}"
                                     th:errors="*{nzhaNzhtzhaZht}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">ЖА/Жт</label>
                                <input th:field="*{zhaZht}" disabled="" type="text" class="form-control"
                                       aria-label="ZHA_Zht">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('zhaZht')}"
                                     th:errors="*{zhaZht}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Сум. ишемия, мин</label>
                                <input th:field="*{sumIshemiya}" disabled="" type="text" class="form-control"
                                       aria-label="sum_ishemiya">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('sumIshemiya')}"
                                     th:errors="*{sumIshemiya}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">ЭКГ ритм</label>
                                <input th:field="*{ekgRitm}" disabled="" type="text" class="form-control"
                                       aria-label="EKG_ritm">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('ekgRitm')}"
                                     th:errors="*{ekgRitm}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Нарушения ритма</label>
                                <input th:field="*{narRitma}" disabled="" type="text" class="form-control"
                                       aria-label="nar_ritma">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('narRitma')}"
                                     th:errors="*{narRitma}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Нар. проводимости</label>
                                <input th:field="*{narprovodimosti}" disabled="" type="text" class="form-control"
                                       aria-label="nar_provodimosti">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('narprovodimosti')}"
                                     th:errors="*{narprovodimosti}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">ST, подъем/депрессия</label>
                                <input th:field="*{st}" disabled="" type="text" class="form-control"
                                       aria-label="ST">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('st')}"
                                     th:errors="*{st}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Толерантность, МЕ/ВТ</label>
                                <input th:field="*{tolerantnost}" disabled="" type="text" class="form-control"
                                       aria-label="tolerantnost">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('tolerantnost')}"
                                     th:errors="*{tolerantnost}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Причина прекращения</label>
                                <input th:field="*{prichinaPrekrashch}" disabled="" type="text" class="form-control"
                                       aria-label="prichina_prekrashch">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('prichinaPrekrashch')}"
                                     th:errors="*{prichinaPrekrashch}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Продолж. нагрузки</label>
                                <input th:field="*{prodolzhNagruzki}" disabled="" type="text" class="form-control"
                                       aria-label="prodolzh_nagruzki">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('prodolzhNagruzki')}"
                                     th:errors="*{prodolzhNagruzki}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">ОХ, ммоль/л</label>
                                <input th:field="*{okh}" disabled="" type="text" class="form-control"
                                       aria-label="OKH">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('okh')}"
                                     th:errors="*{okh}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">ЛПНП, ммоль/л</label>
                                <input th:field="*{lpnp}" disabled="" type="text" class="form-control"
                                       aria-label="LPNP">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('lpnp')}"
                                     th:errors="*{lpnp}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">ЛПВП, ммоль/л</label>
                                <input th:field="*{lpvp}" disabled="" type="text" class="form-control"
                                       aria-label="LPVP">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('lpvp')}"
                                     th:errors="*{lpvp}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">ТГ, ммоль/л</label>
                                <input th:field="*{tg}" disabled="" type="text" class="form-control"
                                       aria-label="TG">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('tg')}"
                                     th:errors="*{tg}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">АЛТ, ед/л</label>
                                <input th:field="*{alt}" disabled="" type="text" class="form-control"
                                       aria-label="ALT">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('alt')}"
                                     th:errors="*{alt}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">АСТ, ед/л</label>
                                <input th:field="*{ast}" disabled="" type="text" class="form-control"
                                       aria-label="AST">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('ast')}"
                                     th:errors="*{ast}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Глю, ммоль/л</label>
                                <input th:field="*{glyu}" disabled="" type="text" class="form-control"
                                       aria-label="Glyu">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('glyu')}"
                                     th:errors="*{glyu}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Кр, мкмоль/л</label>
                                <input th:field="*{kr}" disabled="" type="text" class="form-control"
                                       aria-label="Kr">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('kr')}"
                                     th:errors="*{kr}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Медикаменты группы</label>
                                <input th:field="*{medikamentyGruppy}" disabled="" type="text" class="form-control"
                                       aria-label="medikamenty_gruppy">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('medikamentyGruppy')}"
                                     th:errors="*{medikamentyGruppy}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">КАГ</label>
                                <input th:field="*{kag}" disabled="" type="text" class="form-control"
                                       aria-label="KAG">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('kag')}"
                                     th:errors="*{kag}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Гармоничный</label>
                                <input th:field="*{harmonious}" disabled="" type="number" class="form-control"
                                       aria-label="harmonious">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('harmonious')}"
                                     th:errors="*{harmonious}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Эргопатич.</label>
                                <input th:field="*{ergopatial}" disabled="" type="number" class="form-control"
                                       aria-label="ergopatical">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('ergopatial')}"
                                     th:errors="*{ergopatial}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Аногнозич.</label>
                                <input th:field="*{anognocy}" disabled="" type="number" class="form-control"
                                       aria-label="anognosy">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('anognocy')}"
                                     th:errors="*{anognocy}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Тревожный</label>
                                <input th:field="*{disturbing}" disabled="" type="number" class="form-control"
                                       aria-label="disturbing">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('disturbing')}"
                                     th:errors="*{disturbing}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Ипохондрич.</label>
                                <input th:field="*{hypochondriacal}" disabled="" type="number" class="form-control"
                                       aria-label="hypochondriacal">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('hypochondriacal')}"
                                     th:errors="*{hypochondriacal}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Неврастенич.</label>
                                <input th:field="*{neurasthenic}" disabled="" type="number" class="form-control"
                                       aria-label="neurasthenic">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('neurasthenic')}"
                                     th:errors="*{neurasthenic}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Меланхолич.</label>
                                <input th:field="*{melancholy}" disabled="" type="number" class="form-control"
                                       aria-label="melancholy">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('melancholy')}"
                                     th:errors="*{melancholy}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Апатическ</label>
                                <input th:field="*{apathetic}" disabled="" type="number" class="form-control"
                                       aria-label="apathetic">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('apathetic')}"
                                     th:errors="*{apathetic}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Сентитивн.</label>
                                <input th:field="*{sentimental}" disabled="" type="number" class="form-control"
                                       aria-label="sentimental">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('sentimental')}"
                                     th:errors="*{sentimental}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Эгоцентрич.</label>
                                <input th:field="*{self_centered}" disabled="" type="number" class="form-control"
                                       aria-label="self_centered">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('self_centered')}"
                                     th:errors="*{self_centered}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Паронояльный</label>
                                <input th:field="*{paranoid}" disabled="" type="number" class="form-control"
                                       aria-label="paranoid">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('paranoid')}"
                                     th:errors="*{paranoid}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Дисфорическ.</label>
                                <input th:field="*{dysphoric}" disabled="" type="number" class="form-control"
                                       aria-label="dysphoric">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('dysphoric')}"
                                     th:errors="*{dysphoric}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Тип личности</label>
                                <input th:field="*{personality_type}" disabled="" type="number" class="form-control"
                                       aria-label="personality_type">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('personality_type')}"
                                     th:errors="*{personality_type}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Соотнош. типов</label>
                                <input th:field="*{type_relationship}" disabled="" type="number" class="form-control"
                                       aria-label="type_relationship">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('type_relationship')}"
                                     th:errors="*{type_relationship}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        <div th:insert="~{partial/photo_update_modal :: photo_update_modal}"></div>
    </div>


    <div layout:fragment="styles">
        <link th:href="@{/styles/datatables.css}"  rel="stylesheet" type="text/css"/>
        <link th:href="@{/styles/croppie.css}" rel="stylesheet" type="text/css"/>
    </div>

    <div layout:fragment="scripts">
        <script th:src="@{/scripts/croppie.min.js}"></script>
        <script th:src="@{/scripts/update-photo.js}"></script>
    </div>

</body>
</html>
