<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="#">Личный кабинет НИИ кардиологии</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
<!--                {{&#45;&#45;<form class="navbar-form">&#45;&#45;}}-->
<!--                {{&#45;&#45;<div class="input-group no-border">&#45;&#45;}}-->
<!--                    {{&#45;&#45;<input type="text" value="" class="form-control" placeholder="Поиск...">&#45;&#45;}}-->
<!--                    {{&#45;&#45;<button type="submit" class="btn btn-white btn-round btn-just-icon">&#45;&#45;}}-->
<!--                        {{&#45;&#45;<i class="material-icons">search</i>&#45;&#45;}}-->
<!--                        {{&#45;&#45;<div class="ripple-container"></div>&#45;&#45;}}-->
<!--                        {{&#45;&#45;</button>&#45;&#45;}}-->
<!--                    {{&#45;&#45;</div>&#45;&#45;}}-->
<!--                {{&#45;&#45;</form>&#45;&#45;}}-->
<!--                <ul class="navbar-nav">-->
<!--                    @isset($unreadCount)-->
<!--                    @if($unreadCount > 0)-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink"-->
<!--                           data-toggle="dropdown"-->
<!--                           aria-haspopup="true" aria-expanded="false">-->
<!--                            <i class="material-icons">notifications</i>-->
<!--                            <span class="notification">{{ $unreadCount }}</span>-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
<!--                            @if(Auth::user()->patient)-->
<!--                            <a class="dropdown-item" href="{{ route('patient.chat') }}">-->
<!--                                @else-->
<!--                                <a class="dropdown-item" href="{{ route('doctor.chat') }}">-->
<!--                                    @endif-->
<!--                                    У вас {{ $unreadCount }}-->
<!--                                    {{ $unreadCount > 1 ? 'новых сообщений' : 'новое сообщение' }}-->
<!--                                </a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    @endif-->
<!--                    @endisset-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"-->
<!--                           aria-expanded="false">-->
<!--                            <i class="material-icons">person</i>-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
<!--                            <a class="dropdown-item" href="{{ route('logout') }}">Выход</a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
    </nav>
</body>
</html>