<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="#">Личный кабинет. Отдел кардиореабилитации</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
<!--                    @isset($unreadCount)-->
                    <th:block th:if="!${#strings.contains(#httpServletRequest.requestURI, '/admin')} AND (${unreadCount} > 0)" >
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLin"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">notifications</i>
                            <span class="notification" th:utext="${unreadCount}"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
<!--                            @if(Auth::user()->patient)-->
<!--                            <a class="dropdown-item" href="{{ route('patient.chat') }}">-->
<!--                                @else-->
                                <a class="dropdown-item" href="#">
<!--                                    @endif-->
                                    <th:block th:if="(${unreadCount} > 1)" th:utext="'У вас ' + ${unreadCount} + ' новых сообщений'"/>
                                    <th:block th:if="(${unreadCount} == 1)" th:utext="'У вас ' + ${unreadCount} + ' новое сообщение'"/>
                                </a>
                        </div>
                    </li>
                    </th:block>
<!--                    @endisset-->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="material-icons">person</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Выход</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>