<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/patient}">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="profile_card" class="col-md-4">
        <div class="card card-profile">
            <div class="card-avatar">
                <img class="img" src="{{ asset('storage/' . $photo) }}" />
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray">{{ $dob }}</h6>
                <h4 class="card-title">{{ $name }}</h4>
                <p class="card-description">

                <p><strong>Дата последних показаний</strong>: {{ $lastDate }}</p>
                <p><strong>Время последних показаний</strong>: {{ $lastTime }}</p>
                <p><strong>Результат последних показаний</strong>: {{ $lastScore }} баллов</p>
                </p>
                <a href="{{ route('readings.create') }}" class="btn btn-primary btn-round">Оставить показания</a>
            </div>
        </div>
    </div>
</body>
</html>


