<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="sidebar_admin" class="sidebar" data-color="purple" data-background-color="white" th:attr="data-image=@{/images/sidebar-1.jpg}">
    <div class="logo">
        <a href="#" class="simple-text logo-normal">
            Кардиореабилитация
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
<!--            <th:block th:if="${false}">-->
<!--                <form th:action="@{/some-url}" method="post">this form inside th:block should not be visible</form>-->
<!--            </th:block>-->
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/doctors')} ? 'active' : ''">

                <a class="nav-link" th:href="@{/admin/doctors}">
                    <i class="material-icons">person</i>
                    <p>Врачи</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/admins')} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/admins}">
                    <i class="material-icons">person</i>
                    <p>Администраторы</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/patients')} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/patients}">
                    <i class="material-icons">person</i>
                    <p>Пациенты</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/reports')} ? 'active' : ''">
                <a class="nav-link" href="#">
                    <i class="material-icons">content_paste</i>
                    <p>Отчёты</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/body-positions')} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/body-positions}">
                    <i class="material-icons">library_books</i>
                    <p>Положение тела</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/load-types')} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/load-types}">
                    <i class="material-icons">library_books</i>
                    <p>Тип нагрузки</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/loads')} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/loads}">
                    <i class="material-icons">library_books</i>
                    <p>Нагрузка</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/statements')} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/statements}">
                    <i class="material-icons">library_books</i>
                    <p>Состояние пациента</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/educations')} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/educations}">
                    <i class="material-icons">library_books</i>
                    <p>Образование</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/degrees')} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/degrees}">
                    <i class="material-icons">library_books</i>
                    <p>Ученая степень врача</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/positions')} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/positions}">
                    <i class="material-icons">library_books</i>
                    <p>Звание врача</p>
                </a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/specializations')} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/specializations}">
                    <i class="material-icons">library_books</i>
                    <p>Специализация врача</p>
                </a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>