<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="col-md-12" layout:fragment="contentAdmin">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Положение тела</h4>
                <p class="card-category">Добавить положение тела</p>
            </div>
            <div class="card-body">
<!--                {!! Form::open(['route' => 'body_positions.store']) !!}-->
                <form th:action="@{/admin/body-positions}" th:object="${bodyPositionModel}" method="POST">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Положение тела</label>
                            <input  th:field="*{name}" type="text" class="form-control"
                                   aria-label="body_position">
<!--                            {{ Form::label('body_position', 'Положение тела', ['class' => 'bmd-label-floating']) }}-->
<!--                            {{ Form::text('body_position', null, ['class' => 'form-control']) }}-->
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('name')}"
                                 th:errors="*{name}">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Добавить</button>
                <a th:href="@{/admin/body-positions}" type="button" class="btn btn-primary pull-right mr-2">Назад</a>
                <div class="clearfix"></div>
<!--                {!! Form::close() !!}-->
                </form>
            </div>
        </div>
    </div>
</body>
</html>



