<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/doctor}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <th:block layout:fragment="contentDoctor">
        <th:block th:each="a : ${patientModelList}">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="{{ asset('storage/' . $p->generalInformation->photo) }}"/>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray" th:text="${a.dateOfBirth}"></h6>
                        <h4 class="card-title" th:text="${a.fullName()}"></h4>
                        <p class="card-description">

                        <p><strong>Дата последних показаний</strong>: {{ Helper::getDateFromReading($p->lastReading) }}</p>
                        <p><strong>Время последних показаний</strong>: {{ Helper::getTimeFromReading($p->lastReading) }}</p>
                        <p><strong>Результат последних показаний</strong>: {{ Helper::getBorgResultFromReading($p->lastReading) }} баллов</p>
                        <a th:href="@{/doctor/__${a.id}__}" class="btn btn-primary btn-round">Перейти</a>
                    </div>
                </div>
            </div>
        </th:block>


    </th:block>
</body>
</html>


