<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="col-md-12" layout:fragment="contentAdmin">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Личная информация</h4>
                <p class="card-category">Изменить личную информацию администратора</p>
            </div>
            <div class="card-body">
                <form th:action="@{/admin/admins/__${id}__}" th:object="${adminModel}" method="POST">
                    <input type="hidden" name="_method" value="put" />
                    <input type="hidden" th:field="*{id}" name="id" th:value="${id}">
<!--                {!! Form::model($admin, ['route' => ['admins.update', $admin->id], 'method' => 'put']) !!}-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Логин</label>
                                <input th:field="*{username}" type="text" class="form-control"
                                       aria-label="login">
                                <!--                            {{ Form::label('login', 'Логин', ['class' => 'bmd-label-floating']) }}-->
                                <!--                            {{ Form::text('login', null, ['class' => 'form-control']) }}-->
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('departmentId')}"
                                     th:errors="*{username}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Пароль</label>
                                <input th:field="*{password}" type="password" class="form-control"
                                       aria-label="password">
                                <!--                            {{ Form::label('password', 'Пароль', ['class' => 'bmd-label-floating']) }}-->
                                <!--                            {{ Form::password('password', ['class' => 'form-control']) }}-->
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('departmentId')}"
                                     th:errors="*{password}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Отдел</label>
                                <input th:field="*{departmentId}" type="text" class="form-control"
                                       aria-label="departmentId">
                                <!--                            {{ Form::label('password', 'Пароль', ['class' => 'bmd-label-floating']) }}-->
                                <!--                            {{ Form::password('password', ['class' => 'form-control']) }}-->
                                <!--                            <div class="invalid-feedback d-block">{{ $errors->first('password') }}</div>-->
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('departmentId')}"
                                     th:errors="*{departmentId}">
                                </div>
                            </div>
                        </div>
                    </div>
                <button type="submit" class="btn btn-primary pull-right">Изменить</button>
                <a th:href="@{/admin/admins}" type="button" class="btn btn-primary pull-right mr-2">Назад</a>
                <div class="clearfix"></div>
<!--                {!! Form::close() !!}-->
                </form>
            </div>
        </div>
    </div>
</body>
</html>


