<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <div class="col-md-12" layout:fragment="contentAdmin">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Администраторы НИИ кардиологии</h4>
                <p class="card-category">Список всех администраторов</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead class=" text-primary">
                        <tr>
                            <th>№</th>
                            <th>Логин</th>
                            <th data-orderable="false"><a th:href="@{/admin/admins/add}" class="btn btn-primary ">Добавить администратора</a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="a : ${admins}">
                            <tr>
                                <td th:text="${a.id}"></td>
                                <td th:text="${a.login}"></td>
                                <td class="text-primary">
                                    <a th:href="@{/admin/admins/__${a.id}__/edit}" class="btn btn-primary ">Редактировать</a>
                                </td>
                            </tr>
                        </th:block>

<!--                        @foreach($admins as $a)-->
<!--                        <tr>-->
<!--                            <td>{{ $a->id }}</td>-->
<!--                            <td>{{ $a->login }}</td>-->
<!--                            <td class="text-primary">-->
<!--                                <a href="{{ route('admins.edit', ['id' => $a->id]) }}" class="btn btn-primary ">Редактировать</a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        @endforeach-->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



