<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="col-md-12" layout:fragment="contentAdmin">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Образование</h4>
                <p class="card-category">Изменить образование</p>
            </div>
            <div class="card-body">
<!--                {!! Form::model($education, ['route' => ['educations.update', $education->id], 'method' => 'put']) !!}-->
                <form th:action="@{/admin/educations/__${id}__}" th:object="${EducationModel}" method="POST">
                    <input type="hidden" name="_method" value="put" />
                    <input type="hidden" th:field="*{id}" name="id" th:value="${id}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Образование</label>
                            <input th:field="*{name}" type="text" class="form-control"
                                   aria-label="education">
<!--                            {{ Form::label('education', 'Образование', ['class' => 'bmd-label-floating']) }}-->
<!--                            {{ Form::text('education', null, ['class' => 'form-control']) }}-->
                            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('name')}"
                                 th:errors="${name}">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Изменить</button>
                <a th:href="@{/admin/educations}" type="button" class="btn btn-primary pull-right mr-2">Назад</a>
                <div class="clearfix"></div>
<!--                {!! Form::close() !!}-->
                </form>
            </div>
        </div>
    </div>
</body>
</html>