<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="col-md-12" layout:fragment="contentAdmin">
<!--    {!! Form::open(['route' => 'patients.store']) !!}-->
    <form th:action="@{patients.store}" method="POST">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Личная информация</h4>
            <p class="card-category">Добавить личную информацию пациента</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Фамилия</label>
                        <input th:field="*{lastName}" type="text" class="form-control"
                               aria-label="last_name">
<!--                        {{ Form::label('last_name', 'Фамилия', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::text('last_name', null, ['class' => 'form-control']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('lastName')}"
                             th:errors="${lastName}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Имя</label>
                        <input th:field="*{firstName}" type="text" class="form-control"
                               aria-label="first_name">
<!--                        {{ Form::label('first_name', 'Имя', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::text('first_name', null, ['class' => 'form-control']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('firstName')}"
                             th:errors="${firstName}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Отчество</label>
                        <input th:field="*{middleName}" type="text" class="form-control"
                               aria-label="middle_name">
<!--                        {{ Form::label('middle_name', 'Отчество', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::text('middle_name', null, ['class' => 'form-control']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('middleName')}"
                             th:errors="${middleName}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Логин</label>
                        <input th:field="*{username}" type="text" class="form-control"
                               aria-label="login">
<!--                        {{ Form::label('login', 'Логин', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::text('login', null, ['class' => 'form-control']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('username')}"
                             th:errors="${username}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Пароль</label>
                        <input th:field="*{password}" type="text" class="form-control"
                               aria-label="password">
<!--                        {{ Form::label('password', 'Пароль', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::password('password', ['class' => 'form-control']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('password')}"
                             th:errors="${password}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group bmd-form-group is-filled">
                        <label class="bmd-label-floating">Образование</label>
<!--                        <select th:field="edu" class="form-control"-->
<!--                               aria-label="education_id" th:placeholder="Выберите образование">-->
<!--                        </select>-->
<!--                        {{ Form::label('education_id', 'Образование', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::select('education_id', $edu, null,-->
<!--                        ['class' => 'form-control', 'placeholder' => 'Выберите образование']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('educationId')}"
                             th:errors="${educationId}">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group bmd-form-group is-filled">
                        <label class="bmd-label-floating">Пол</label>
<!--                        <select th:field="isMale" class="form-control"-->
<!--                                aria-label="is_male" th:placeholder="Выберите пол">-->
<!--                        </select>-->
<!--                        {{ Form::label('is_male', 'Пол', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::select('is_male', $sex, null,-->
<!--                        ['class' => 'form-control', 'placeholder' => 'Выберите пол']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('isMale')}"
                             th:errors="${isMale}">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group bmd-form-group is-filled">
                        <label class="bmd-label-floating">Занятость</label>
<!--                        <select th:field="work" class="form-control"-->
<!--                                aria-label="is_work" th:placeholder="Выберите занятость">-->
<!--                        </select>-->
<!--                        {{ Form::label('is_work', 'Занятость', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::select('is_work', $work, null,-->
<!--                        ['class' => 'form-control', 'placeholder' => 'Выберите занятость']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('work')}"
                             th:errors="${work}">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">Дата рождения</label>
                        <input th:field="*{dateOfBirth}" type="text" class="form-control"
                               aria-label="date_of_birth">
<!--                        {{ Form::label('date_of_birth', 'Дата рождения', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::date('date_of_birth', null, ['class' => 'form-control']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('dateOfBirth')}"
                             th:errors="${dateOfBirth}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Город</label>
                        <input th:field="*{password}" type="text" class="form-control"
                               aria-label="address">
<!--                        {{ Form::label('address', 'Город', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::text('address', null, ['class' => 'form-control']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('password')}"
                             th:errors="${password}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Телефон</label>
                        <input th:field="*{phone}" type="text" class="form-control"
                               aria-label="phone">
<!--                        {{ Form::label('phone', 'Телефон', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::text('phone', null, ['class' => 'form-control']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('phone')}"
                             th:errors="${phone}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Email</label>
                        <input th:field="*{email}" type="text" class="form-control"
                               aria-label="email">
<!--                        {{ Form::label('email', 'Email', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::text('email', null, ['class' => 'form-control']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('email')}"
                             th:errors="${email}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group bmd-form-group is-filled">
                        <label class="bmd-label-floating">Доктор</label>
<!--                        <select th:field="doctors" class="form-control"-->
<!--                                aria-label="doctor_id" th:placeholder="Выберите доктора">-->
<!--                        </select>-->
<!--                        {{ Form::label('doctor_id', 'Доктор', ['class' => 'bmd-label-floating']) }}-->
<!--                        {{ Form::select('doctor_id', $doctors, null,-->
<!--                        ['class' => 'form-control', 'placeholder' => 'Выберите доктора']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('departmentId')}"
                             th:errors="${departmentId}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group bmd-form-group is-filled">
                        <label class="bmd-label-floating">Отдел</label>
                        <!--                        <select th:field="doctors" class="form-control"-->
                        <!--                                aria-label="doctor_id" th:placeholder="Выберите доктора">-->
                        <!--                        </select>-->
                        <!--                        {{ Form::label('doctor_id', 'Доктор', ['class' => 'bmd-label-floating']) }}-->
                        <!--                        {{ Form::select('doctor_id', $doctors, null,-->
                        <!--                        ['class' => 'form-control', 'placeholder' => 'Выберите доктора']) }}-->
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('departmentId')}"
                             th:errors="${departmentId}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

<!--    <div class="card">-->
<!--        <div class="card-header card-header-primary">-->
<!--            <h4 class="card-title">Медицинская информация</h4>-->
<!--            <p class="card-category">Добавить медицинскую информацию пациента</p>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Основной диагноз</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="basic_diagnosis">-->
<!--&lt;!&ndash;                        {{ Form::label('basic_diagnosis', 'Основной диагноз', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('basic_diagnosis', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('basic_diagnosis') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Сопутствующий диагноз</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="concomitant_diagnosis">-->
<!--&lt;!&ndash;                        {{ Form::label('concomitant_diagnosis', 'Сопутствующий диагноз', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('concomitant_diagnosis', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('concomitant_diagnosis') }}</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Операции</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="operations">-->
<!--&lt;!&ndash;                        {{ Form::label('operations', 'Операции', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('operations', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('operations') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Осложнения</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="oslozhneniye">-->
<!--&lt;!&ndash;                        {{ Form::label('oslozhneniye', 'Осложнения', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('oslozhneniye', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('oslozhneniye') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">КДО ЛЖ, мл</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="KDO_LZH">-->
<!--&lt;!&ndash;                        {{ Form::label('KDO_LZH', 'КДО ЛЖ, мл', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('KDO_LZH', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('KDO_LZH') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">КСО ЛЖ, мл</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="KSO_LZH">-->
<!--&lt;!&ndash;                        {{ Form::label('KSO_LZH', 'КСО ЛЖ, мл', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('KSO_LZH', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('KSO_LZH') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">ИММ, г/м2</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="IMM">-->
<!--&lt;!&ndash;                        {{ Form::label('IMM', 'ИММ, г/м2', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('IMM', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('IMM') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">ФВ, %</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="FV">-->
<!--&lt;!&ndash;                        {{ Form::label('FV', 'ФВ, %', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('FV', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('FV') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">КСО ЛП</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="KSO_LP">-->
<!--&lt;!&ndash;                        {{ Form::label('KSO_LP', 'КСО ЛП', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('KSO_LP', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('KSO_LP') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">КСО ПП</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="KSO_PP">-->
<!--&lt;!&ndash;                        {{ Form::label('KSO_PP', 'КСО ПП', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('KSO_PP', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('KSO_PP') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">СДЛА</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="SDLA">-->
<!--&lt;!&ndash;                        {{ Form::label('SDLA', 'СДЛА', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('SDLA', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('SDLA') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Диаст дисф.</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="diast_disf">-->
<!--&lt;!&ndash;                        {{ Form::label('diast_disf', 'Диаст дисф.', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('diast_disf', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('diast_disf') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Локальн сокр.</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="lokaln_sokr">-->
<!--&lt;!&ndash;                        {{ Form::label('lokaln_sokr', 'Локальн сокр.', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('lokaln_sokr', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('lokaln_sokr') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">ХМ экг, дата</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="KHM_ekg">-->
<!--&lt;!&ndash;                        {{ Form::label('KHM_ekg', 'ХМ экг, дата', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('KHM_ekg', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('KHM_ekg') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Осн. ритм</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="osn_ritm">-->
<!--&lt;!&ndash;                        {{ Form::label('osn_ritm', 'Осн. ритм', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('osn_ritm', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('osn_ritm') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">НЖА/НЖТЖА/ЖТ</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="NZHA_NZHTZHA_ZHT">-->
<!--&lt;!&ndash;                        {{ Form::label('NZHA_NZHTZHA_ZHT', 'НЖА/НЖТЖА/ЖТ', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('NZHA_NZHTZHA_ZHT', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('NZHA_NZHTZHA_ZHT') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">ЖА/Жт</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="ZHA_Zht">-->
<!--&lt;!&ndash;                        {{ Form::label('ZHA_Zht', 'ЖА/Жт', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('ZHA_Zht', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('ZHA_Zht') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Сум. ишемия, мин</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="sum_ishemiya">-->
<!--&lt;!&ndash;                        {{ Form::label('sum_ishemiya', 'Сум. ишемия, мин', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('sum_ishemiya', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('sum_ishemiya') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">ЭКГ ритм</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="EKG_ritm">-->
<!--&lt;!&ndash;                        {{ Form::label('EKG_ritm', 'ЭКГ ритм', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('EKG_ritm', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('EKG_ritm') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Нарушения ритма</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="nar_ritma">-->
<!--&lt;!&ndash;                        {{ Form::label('nar_ritma', 'Нарушения ритма', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('nar_ritma', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('nar_ritma') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Нар. проводимости</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="nar_provodimosti">-->
<!--&lt;!&ndash;                        {{ Form::label('nar_provodimosti', 'Нар. проводимости', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('nar_provodimosti', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('nar_provodimosti') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">ST, подъем/депрессия</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="ST">-->
<!--&lt;!&ndash;                        {{ Form::label('ST', 'ST, подъем/депрессия', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('ST', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('ST') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Толерантность, МЕ/ВТ</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="tolerantnost">-->
<!--&lt;!&ndash;                        {{ Form::label('tolerantnost', 'Толерантность, МЕ/ВТ', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('tolerantnost', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('tolerantnost') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Причина прекращения</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="prichina_prekrashch">-->
<!--&lt;!&ndash;                        {{ Form::label('prichina_prekrashch', 'Причина прекращения', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('prichina_prekrashch', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('prichina_prekrashch') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Продолж. нагрузки</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="prodolzh_nagruzki">-->
<!--&lt;!&ndash;                        {{ Form::label('prodolzh_nagruzki', 'Продолж. нагрузки', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('prodolzh_nagruzki', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('prodolzh_nagruzki') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">ОХ, ммоль/л</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="OKH">-->
<!--&lt;!&ndash;                        {{ Form::label('OKH', 'ОХ, ммоль/л', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('OKH', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('OKH') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">ЛПНП, ммоль/л</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="LPNP">-->
<!--&lt;!&ndash;                        {{ Form::label('LPNP', 'ЛПНП, ммоль/л', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('LPNP', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('LPNP') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">ЛПВП, ммоль/л</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="LPVP">-->
<!--&lt;!&ndash;                        {{ Form::label('LPVP', 'ЛПВП, ммоль/л', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('LPVP', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('LPVP') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">ТГ, ммоль/л</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="TG">-->
<!--&lt;!&ndash;                        {{ Form::label('TG', 'ТГ, ммоль/л', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('TG', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('TG') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">АЛТ, ед/л</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="ALT">-->
<!--&lt;!&ndash;                        {{ Form::label('ALT', 'АЛТ, ед/л', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('ALT', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('ALT') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">АСТ, ед/л</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="AST">-->
<!--&lt;!&ndash;                        {{ Form::label('AST', 'АСТ, ед/л', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('AST', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('AST') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Глю, ммоль/л</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="Glyu">-->
<!--&lt;!&ndash;                        {{ Form::label('Glyu', 'Глю, ммоль/л', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('Glyu', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('Glyu') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Кр, мкмоль/л</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="Kr">-->
<!--&lt;!&ndash;                        {{ Form::label('Kr', 'Кр, мкмоль/л', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('Kr', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('Kr') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Медикаменты группы</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="medikamenty_gruppy">-->
<!--&lt;!&ndash;                        {{ Form::label('medikamenty_gruppy', 'Медикаменты группы', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('medikamenty_gruppy', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('medikamenty_gruppy') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">КАГ</label>-->
<!--                        <input type="text" class="form-control"-->
<!--                               aria-label="KAG">-->
<!--&lt;!&ndash;                        {{ Form::label('KAG', 'КАГ', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('KAG', null, ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('KAG') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="clearfix"></div>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Гармоничный</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="harmonious">-->
<!--&lt;!&ndash;                        {{ Form::label('harmonious', 'Гармоничный', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('harmonious', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('harmonious') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Эргопатич.</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="ergopatical">-->
<!--&lt;!&ndash;                        {{ Form::label('ergopatical', 'Эргопатич.', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('ergopatical', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('ergopatical') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Аногнозич.</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="anognosy">-->
<!--&lt;!&ndash;                        {{ Form::label('anognosy', 'Аногнозич.', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('anognosy', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('anognosy') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Тревожный</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="disturbing">-->
<!--&lt;!&ndash;                        {{ Form::label('disturbing', 'Тревожный', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('disturbing', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('disturbing') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Ипохондрич.</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="hypochondriacal">-->
<!--&lt;!&ndash;                        {{ Form::label('hypochondriacal', 'Ипохондрич.', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('hypochondriacal', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('hypochondriacal') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Неврастенич.</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="neurasthenic">-->
<!--&lt;!&ndash;                        {{ Form::label('neurasthenic', 'Неврастенич.', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('neurasthenic', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('neurasthenic') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Меланхолич.</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="melancholy">-->
<!--&lt;!&ndash;                        {{ Form::label('melancholy', 'Меланхолич.', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('melancholy', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('melancholy') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Апатическ</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="apathetic">-->
<!--&lt;!&ndash;                        {{ Form::label('apathetic', 'Апатическ', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('apathetic', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('apathetic') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Сентитивн.</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="sentimental">-->
<!--&lt;!&ndash;                        {{ Form::label('sentimental', 'Сентитивн.', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('sentimental', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('sentimental') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Эгоцентрич.</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="self_centered">-->
<!--&lt;!&ndash;                        {{ Form::label('self_centered', 'Эгоцентрич.', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('self_centered', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('self_centered') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Паронояльный</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="paranoid">-->
<!--&lt;!&ndash;                        {{ Form::label('paranoid', 'Паронояльный', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('paranoid', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('paranoid') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Дисфорическ.</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="dysphoric">-->
<!--&lt;!&ndash;                        {{ Form::label('dysphoric', 'Дисфорическ.', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::number('dysphoric', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('dysphoric') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Тип личности</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="personality_type">-->
<!--&lt;!&ndash;                        {{ Form::label('personality_type', 'Тип личности', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('personality_type', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('personality_type') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="bmd-label-floating">Соотнош. типов</label>-->
<!--                        <input type="number" class="form-control"-->
<!--                               aria-label="type_relationship">-->
<!--&lt;!&ndash;                        {{ Form::label('type_relationship', 'Соотнош. типов', ['class' => 'bmd-label-floating']) }}&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ Form::text('type_relationship', null,&ndash;&gt;-->
<!--&lt;!&ndash;                        ['class' => 'form-control']) }}&ndash;&gt;-->
<!--                        <div class="invalid-feedback d-block">{{ $errors->first('type_relationship') }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary pull-right">Добавить</button>-->
<!--            <a th:href="@{/admin/patients}" type="button" class="btn btn-primary pull-right mr-2">Назад</a>-->
<!--            <div class="clearfix"></div>-->
<!--        </div>-->
<!--    </div>-->
        </form>
<!--        {!! Form::close() !!}-->

</div>
</body>
</html>