<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
</head>
<body>

<div class="col-md-12" layout:fragment="contentAdmin">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">Пациенты НИИ кардиологии</h4>
            <p class="card-category">Список всех пациентов</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead class=" text-primary">
                    <tr>
                        <th>№</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Дата последних показаний</th>
                        <th>Результат последних показаний</th>
                        <th>Контактый телефон</th>
                        <th data-orderable="false">
                            <a th:href="@{/admin/patients/add}" class="btn btn-primary ">Добавить пациента</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="p : ${entities}">
                        <tr>
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.lastName}"></td>
                            <td th:text="${p.firstName}"></td>
                            <td th:text="${p.middleName}"></td>
                            <td th:text="lastReadingDate"></td>
                            <td th:text="lastReadingBorg"></td>
                            <td th:text="${p.phone}"></td>
                            <td class="text-primary">
                                <a th:href="@{/admin/patients/__${p.id}__/edit}" class="btn btn-primary ">Редактировать</a>
                            </td>
                        </tr>
                    </th:block>
<!--                    @foreach($patients as $p)-->
<!--                    <tr>-->
<!--                        <td>{{ $p->id }}</td>-->
<!--                        <td>{{ $p->generalInformation->last_name }}</td>-->
<!--                        <td>{{ $p->generalInformation->first_name }}</td>-->
<!--                        <td>{{ $p->generalInformation->middle_name ?? \Config::get('constants.not_available') }}</td>-->
<!--                        <td>{{ Helper::getDateFromReading($p->lastReading) }}</td>-->
<!--                        <td>{{ Helper::getBorgResultFromReading($p->lastReading) }}</td>-->
<!--                        <td>{{ $p->generalInformation->phone ?? $na }}</td>-->
<!--                        <td class="text-primary">-->
<!--                            <a href="{{ route('patients.edit', ['id' => $p->id]) }}" class="btn btn-primary ">Редактировать</a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    @endforeach-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>

